

.chat-bar-collapsible{
	position: fixed;
	bottom: 0;
	right: 4px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.301);
}

.collapsible {

	background-color: rgb(21, 19, 19);
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 350px;
	text-align: left;
	outline: none;
	font-size: 18px;
	border-radius: 10px 10px 0px 0px;
	border: 3px solid white;
	border-bottom: none;
}
.collapsible:hover{
	background:rgb(26, 25, 25);
}

.content{

	max-height: 0;
	/* overflow: hidden; */
	transition: max-height 0.2s ease-out;
	/* background-color: #f1f1f1; */
}

.full-chat-block{
	width: 350px;
	background: white;
	text-align: center;
	overflow: auto;
	scrollbar-width: none;
	height: max-content;
	transition: max-height 0.2s ease-out;
	
}

.outer-container{
	min-height: 475px;
	bottom: 0%;
	position: relative;
    display: space-between;

}

.chat-container{
	max-height: 500px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	scroll-behavior: smooth;
	hyphens: auto;
	
}

.chat-container::-webkit-scrollbar{
   display: none;
}

.chat-bar-input-block{

	display: flex;
	float: left;
	box-sizing: border-box;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	background-color:rgb(226, 217, 217);
	border-radius: 1px 1px 1px 1px;
	padding: 10px 10px 10px 10px;
}


.chat-bar-icons{

	display: flex;
	justify-content: space-evenly;
	box-sizing: border-box;
	width: 28%;
	float: right;
	font-size: 20px;
}


#chat-icon:hover{
	opacity: .7;
}

/* chat bubbles */

#userInput{
width: 75%;
}

.input-box{

	float: left;
	border: none;
	box-sizing: border-box;
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	font-size: 16px;
	color: #000;
	background-color: white;
	outline: none;
	
}

.userText{

	color:black;
	font-family: helvetica;
	font-size: 16px;
	font-weight: normal;
	text-align: right;
	clear: both;
	margin: 5%;
	
}

.userText span{
    color: #fff;
	line-height: 1.5em;
	display: inline-block;
	background: rgb(15, 14, 14);
	padding: 10px;
	border-radius: 8px;
	border-bottom-right-radius: 2px;
	max-width: 80%;
	margin-right: 10px;
	animation: floatup .5s forwards;
	overflow-x: hidden;
}

.botText{
	color: #000;
	font-family: helvetica;
	font-weight: normal;
	font-size: 16px;
	text-align: left;
	
}

.botText span {
    color: black;
	line-height: 1.5em;
	display: inline-block;
	background: #e0e0e0;
	padding: 10px;
	border-radius: 8px;
	border-bottom-left-radius: 2px;
	max-width: 80%;
	margin-left:10px;
	margin: 5%;
   animation: floatup .5s forwards;
	
}

@keyframes floatup {

	from{
		transform: translateY(14px);
		opacity: .0;
	}
	to{
		transform: translateY(0px);
		opacity: 1;
	}
}


@media screen and (max-width:600px) {
.full-chat-block{
width: 100%;
border-radius: 0px;

}

.chat-bar-collapsible{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
}
.collapsible {
	width: 100%;
	border: 0px;
	border-top: 3px solid white;
	border-radius: 0px;
}
}

@media screen and (max-width:912px) {
	.full-chat-block{
	width: 100%;
	border-radius: 0px;
	
	}
	
	.chat-bar-collapsible{
		position: fixed;
		bottom: 0;
		right: 0;
		width: 100%;
	}
	.collapsible {
		width: 100%;
		border: 0px;
		border-top: 3px solid white;
		border-radius: 0px;
	}
	}


                    